:root {
  --dark: #8A90A6;
  --darker: #2C2B31;
  --darkest: #1A191E;
  --primary: #F2C07C;
  --foreground: #FFFFFF;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--foreground);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}